
.career{
  width: 100%;
  height:1100px;
  background:#F2F2F2;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "bitsCoreINSPIRE";
  justify-content: center;
  font-size: 30px;
}

.careerNote1{
  width: 60vw;
  height: 900px;
  background: white;
  color:black;
  border-radius: 20px;
  padding: 3rem;
  margin:0 auto 2rem;
  box-shadow: 1rem 1rem 1rem 0;
}

