.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: "bitsCoreOTP";
  src: url("C:\workspace\MyWeb\portfolio\src\fonts\VITRO CORE OTF.otf");
}

@font-face {
  font-family: "bitsCoreINSPIRE";
  src: url("C:\workspace\MyWeb\portfolio\src\fonts\VITRO INSPIRE OTF.otf");
}

@font-face {
  font-family: "bitsCorePRIDE";
  src: url("C:\workspace\MyWeb\portfolio\src\fonts\VITRO PRIDE OTF.otf");
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
